services:
# Servidor de origem de dados
  source-server:
    build: ./source_server
    container_name: solomon-datasource-server
    ports:
      - "8000:8000"
    volumes:
      - ./source_server:/app
    networks:
      - backend-network

  pipeline:
    build: ./pipeline_service
    container_name: solomon-dbsync-service
    ports:
      - "8081:8081" 
    environment:
      - DATABASE_URL=postgres://admin:password123@postgres:5432/solomon_analytics?sslmode=disable
      - SOURCE_API_URL=http://source-server:8000/transactions
    depends_on:
      - postgres
      - source-server
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge